<fieldset class="form__personal-tastes">
    <legend class="title title2">Gustos filmográficos</legend>
    <ul class="input9__container">
      <li class="list-item movie__genre1">Acción</li>
      <li class="list-item movie__genre2">Animación</li>
      <li class="list-item movie__genre3">Aventuras</li>
      <li class="list-item movie__genre4">Bélico</li>
      <li class="list-item movie__genre5">Ficción</li>
      <li class="list-item movie__genre6">Comedia</li>
      <li class="list-item movie__genre7">Drama</li>
      <li class="list-item movie__genre8">Fantasía</li>
      <li class="list-item movie__genre9">Histórico</li>
      <li class="list-item movie__genre10">Infantil</li>
      <li class="list-item movie__genre11">Musical</li>
      <li class="list-item movie__genre12">Policíaco</li>
      <li class="list-item movie__genre13">Romántico</li>
      <li class="list-item movie__genre14">Suspense</li>
      <li class="list-item movie__genre15">Terror</li>
      <li class="list-item movie__genre16">Western</li>
    </ul>
    <div class="favorite-lists__container">
      <div class="input10__container">
        <label for="favorite-movies" class="input10__container subtitle">Pelis favoritas</label>
        <select name="favorite-movies" size="5" multiple>
          <option value="movie1">Shutter Island</option>
          <option value="movie2">The Prestige</option>
          <option value="movie3">Star Wars</option>
          <option value="movie4">Harry Potter</option>
          <option value="movie5">La la land</option>
        </select>
      </div>
      <div class="input11__container">
        <label for="favorite-series" class="input11__container subtitle">Series favoritas</label>
        <select name="favorite-series" size="5" multiple>
          <option value="series1">The Big Bang Theory</option>
          <option value="series2">Friends</option>
          <option value="series3">How I met your mother</option>
          <option value="series4">Walking Dead</option>
          <option value="series5">Orange Is the New Black</option>
        </select>
      </div>
    </div>
    <div class="input12__container">
      <p class="paid-tv subtitle">Plataformas de pago</p>
      <div class="radio__container">
        <input id="paid-tv1" name="paid-tv" type="radio" class="radio">
        <span class="checkmark__radio"></span>
      </div>
      <label for="paid-tv1" class="input13__container payment__option">Sí</label>
      <div class="radio__container">
        <input id="paid-tv2" name="paid-tv" type="radio" class="radio">
        <span class="checkmark__radio"></span>
      </div>
      <label for="paid-tv2" class="input13__container payment__option">No</label>
    </div>
  </fieldset>