<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400|Roboto+Slab:400,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="main-container">
  <form action="#" class="form">
    <fieldset class="personal-data">
      <legend class="title">Datos personales</legend>
      <div class="input1__container">
          <label for="name" class="input1__container subtitle">Nombre</label>
          <input id="name" name="name" type="text" class="input" placeholder="Darth">
      </div>
      <div class="input2__container">
        <label for="family-name" class="input2__container subtitle">Apellidos</label>
        <input id="family-name" name="family-name" type="text" class="input" placeholder="Vader">
      </div>
      <div class="input3__container">
        <label for="address" class="input3__container subtitle">Dirección</label>
        <input id="address" name="address" type="text" class="input" placeholder="Galactic City, Coruscant system (Core Worlds)">
      </div>
      <div class="input4__container">
        <label for="phone" class="input4__container subtitle">Teléfono</label>
        <input id="phone" name="phone" type="tel" class="input" placeholder="123456789">
      </div>
      <div class="input5__container">
        <label for="age" class="input5__container subtitle">Edad</label>
        <input id="age" name="age" type="text" class="input" placeholder="45">
      </div>
      <div class="input6__container">
        <p class="genre subtitle">Sexo</p>
        <div class="radio__container">
          <input id="genre" name="genre" type="radio" class="radio">
          <span class="checkmark"></span>
        </div>
        <label for="genre1" class="input6__container">Hombre</label>
        <div class="radio__container">
          <input id="genre" name="genre" type="radio" class="radio">
          <span class="checkmark"></span>
        </div>
        <label for="genre2" class="input6__container">Mujer</label>
        <div class="radio__container">
          <input id="genre" name="genre" type="radio" class="radio">
          <span class="checkmark"></span>
        </div>
        <label for="genre3" class="input6__container">Prefiero no pronunciarme</label>
      </div>
      <div class="input10__container">
        <label for="photo" class="input10__container subtitle">Fotografía</label>
        <input id="photo" name="photo" type="image" src="http://via.placeholder.com/150" alt="Imagen de perfil" class="input">
      </div>
      <div class="input10__container">
        <label for="email" class="input10__container subtitle">Email</label>
        <input id="email" name="email" type="email" class="input" placeholder="darth.vader@sci-fi.com">
      </div>
    </fieldset>
    <fieldset class="personal-tastes">
      <legend class="title title2">Gustos filmográficos</legend>
      <div class="input7__container">
        <p class="subtitle">Géneros favoritos</p>
        <div class="checkbox__container">
          <span class="checkmark1"></span>
          <input id="film-genre" name="film-genre" type="checkbox" class="checkbox">
        </div>
        <label for="film-genre" class="input7__container">Ciencia ficción</label>
        <div class="checkbox__container">
          <span class="checkmark1"></span>
          <input id="film-genre" name="film-genre" type="checkbox" class="checkbox">
        </div>
        <label for="film-genre" class="input7__container">Comedias</label>
        <div class="checkbox__container">
          <span class="checkmark1"></span>
          <input id="film-genre" name="film-genre" type="checkbox" class="checkbox">
        </div>
        <label for="film-genre" class="input7__container">Documentales</label>
      </div>
      <div class="input8__container">
        <label for="favorite-movies" class="input8__container subtitle">Películas favoritas</label>
        <select name="favorite-movies" size="5" multiple>
          <option value="movie1">Shutter Island</option>
          <option value="movie2">The Prestige</option>
          <option value="movie3">Star Wars</option>
          <option value="movie4">Harry Potter</option>
          <option value="movie5">La la land</option>
        </select>
      </div>
      <div class="input9__container">
        <label for="favorite-series" class="input9__container subtitle">Series favoritas</label>
        <select name="favorite-series" size="5" multiple>
          <option value="series1">The Big Bang Theory</option>
          <option value="series2">Friends</option>
          <option value="series3">How I met your mother</option>
          <option value="series4">Walking Dead</option>
          <option value="series5">Orange Is the New Black</option>
        </select>
      </div>
      <div class="input11__container">
        <p class="paid-tv subtitle">Plataformas de pago</p>
        <div class="radio__container">
          <input id="paid-tv1" name="paid-tv" type="radio" class="radio">
          <span class="checkmark"></span>
        </div>
        <label for="paid-tv1" class="input11__container payment__option">Sí</label>
        <div class="radio__container">
          <input id="paid-tv2" name="paid-tv" type="radio" class="radio">
          <span class="checkmark"></span>
        </div>
        <label for="paid-tv2" class="input11__container payment__option">No</label>
      </div>
    </fieldset>
    <div class="input12__container">
      <label for="submit" class="input12__container visually-hidden">Botón de enviar</label>
      <input id="submit" name="submit" type="submit" class="button">
      <input id="reset" name="reset" type="reset" class="button">
    </div>
  </form>
</body>
</html>
