.button {
    width: 90px;
    height: 30px;
    margin: 20px 10px;
    font-family: $font-title;
    font-size: 16px;
    color: $color-white;
    line-height: $font-titleLineHeight;
    background-color: $color-base;
}