.button {
    width: 90px;
    height: 30px;
    margin: 0 10px;
    background-color: $color-highlights;
    color: white;
    font-family: $font-title;
    font-size: 16px;
    line-height: $font-titleLineHeight;
}