*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page__container {
    @include flexCenter;
    flex-direction: column;
    background-image: linear-gradient(to right top, #247d95, #1d8399, #16899c, #0e8e9f, #0594a1, #009ba3, #00a3a5, #01aaa5, #1cb5a4, #34bfa0, #4dc99b, #65d294);
}

.page__title {
    margin: 30px;
    font-family: $font-title;
    font-size: 45px;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}