*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: lightgrey;
}

.form {
    padding: 15px;
    border-style: none;
    border: none;
    padding: 10px;
}

.personal-data, .personal-tastes {
    @extend .form;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}