$color-greyMouse: #727687;
$color-lightGrey: #A6ABBD;
$color-highlights: #1F59A7;

$font-input: 'Roboto Mono', monospace;
$font-title: 'Roboto Slab', serif;
$font-generalLineHeight: 1.4;
$font-titleLineHeight: 1.6;
