$color-base: #0092BD;
$color-base-lighter: lighten($color-base, 30%);
$color-base-darker: darken($color-base, 30%);

$color-greyMouse: #727687;
$color-lightGrey: #A6ABBD;
$color-highlights: #096EA7;

$font-input: 'Roboto Mono', monospace;
$font-title: 'Roboto Slab', serif;
$font-generalLineHeight: 1.4;
$font-titleLineHeight: 1.6;
